.container {
  background-image: linear-gradient(to right, #fa7257, #fc63a7);
  color: #ffffff;
  text-align: center;
  height: 100vh;
  width: 100%;
}

.twoitems {
  display: flex;
  text-align: center;
  margin-top: 20px;
  margin-left: 30%;
}
.container1 {
}

.but {
  color: #dd1264;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 15px;
  margin: 20px;
}

.cont {
  color: black;
  background-color: #fddddb;
  border-radius:15px;
}
